In [1]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [2]:
Dict1={"1":"Mango","2":"Banana","3":"Apple","Year":2025}
print(Dict1)

{'1': 'Mango', '2': 'Banana', '3': 'Apple', 'Year': 2025}

In [3]:
print(Dict1["1"])

Mango

In [4]:
print(Dict1["Year"])

2025

In [5]:
print(len(Dict1))

4

In [7]:
Dict2 = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [8]:
print(Dict2)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [10]:
print(type(Dict1))

<class 'dict'>

In [11]:
print(type(Dict2))

<class 'dict'>

In [12]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [13]:
Dict3=dict(name="Raj Thakur",age=21,country="India")
print(Dict3)

{'name': 'Raj Thakur', 'age': 21, 'country': 'India'}

In [15]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [16]:
x = thisdict.get("model")

In [17]:
print(x)

Mustang

In [18]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.keys()
print(x)
car["color"] = "white"
print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [21]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [22]:
Dict1={"1":"Mango","2":"Banana","3":"Apple","Year":2025}
Dict1["Year"]= 2024
print(Dict1)

{'1': 'Mango', '2': 'Banana', '3': 'Apple', 'Year': 2024}

In [26]:
Dict1={"1":"Mango","2":"Banana","3":"Apple","Year":2025}
Dict1.update({"Year":2020})
print(Dict1)

{'1': 'Mango', '2': 'Banana', '3': 'Apple', 'Year': 2020}

In [27]:
Dict1={"1":"Mango","2":"Banana","3":"Apple","Year":2025}
Dict1["Car"]="Rolls Royce"
print(Dict1)

{'1': 'Mango', '2': 'Banana', '3': 'Apple', 'Year': 2025, 'Car': 'Rolls Royce'}

In [28]:
Dict1={"1":"Mango","2":"Banana","3":"Apple","Year":2025}
Dict1["Name"]="Raj Thakur"
print(Dict1)

{'1': 'Mango', '2': 'Banana', '3': 'Apple', 'Year': 2025, 'Name': 'Raj Thakur'}

In [29]:
Dict1={"1":"Mango","2":"Banana","3":"Apple","Year":2025}
Dict1["Car"]="Rolls Royce"
Dict1["Name"]="Raj Thakur"
print(Dict1)

{'1': 'Mango', '2': 'Banana', '3': 'Apple', 'Year': 2025, 'Car': 'Rolls Royce', 'Name': 'Raj Thakur'}

In [30]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [31]:
for x in thisdict:
  print(thisdict[x])

Ford
1964

In [32]:
for i in Dict2:
  print(Dict2[i])

Ford
False
1964
['red', 'white', 'blue']

In [33]:
for i in Dict1:
  print(Dict1[i])

Mango
Banana
Apple
2025
Rolls Royce
Raj Thakur

In [34]:
for i in Dict3:
  print(Dict3[i])

Raj Thakur
21
India

In [35]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [36]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [37]:
MyCollections_Car={
    "Car1":{"Name":"Rolls Royce","Year":"1965"},
    "Car2":{"Name":"Buggati","Year":"1967"},
    "Car3":{"Name":"Bentley","Year":"1970"},
}
print(MyCollections_Car)

{'Car1': {'Name': 'Rolls Royce', 'Year': '1965'}, 'Car2': {'Name': 'Buggati', 'Year': '1967'}, 'Car3': {'Name': 'Bentley', 'Year': '1970'}}

In [38]:
# Dataframes

import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [42]:
import pandas as pd
Data1={"Name":["RajThakur","Rajveer","Ram"],
       "Hobby":["Paintings","readingBooks","Hunting"]}
df=pd.DataFrame(Data1)
print(df)

        Name         Hobby
0  RajThakur     Paintings
1    Rajveer  readingBooks
2        Ram       Hunting

In [43]:
print(df.loc[0])

Name     RajThakur
Hobby    Paintings
Name: 0, dtype: object

In [44]:
print(df.loc[[0, 1]])

        Name         Hobby
0  RajThakur     Paintings
1    Rajveer  readingBooks

In [45]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [46]:
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

In [47]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df)

   roll no.     name  marks
0         1      raj     99
1         2  rajveer     98
2         3   ankush     90
3         4    shyam     97
4         5   somesh     95
5         6   mohsin     94
6         7     moiz     93
7         8     Zayn     94
8         9   zishan     91
9        10       om     90

In [49]:
# Lists

mylist = ["apple", "banana", "cherry"]
print(mylist)

['apple', 'banana', 'cherry']

In [50]:
print(len(mylist))

3

In [53]:
L1 = ["apple", "banana", "cherry"]
L2 = [1, 5, 7, 9, 3]
L3 = [True, False, False]
L4 = [20.00,21.00,35.00,95.00]
L5 = ["Raj Thakur",1,200,True,21.00]
print(L1)
print(L2)
print(L3)
print(L4)
print(L5)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]
[20.0, 21.0, 35.0, 95.0]
['Raj Thakur', 1, 200, True, 21.0]

In [54]:
print(type(L1))

<class 'list'>

In [55]:
print(type(L5))

<class 'list'>

In [56]:
print(type(L3))

<class 'list'>

In [57]:
List_1 = list(("Raj", "Singh", "Thakur"))
print(List_1)

['Raj', 'Singh', 'Thakur']

In [58]:
print(List_1[1])

Singh

In [59]:
print(List_1[0])
print(List_1[-1])

Raj
Thakur

In [60]:
print(List_1[:1])

['Raj']

In [64]:
print(List_1[0:3])

['Raj', 'Singh', 'Thakur']

In [65]:
List_L1 = [10,20,30,40,50,60,70,80]
for x in List_L1:
  print(x)

10
20
30
40
50
60
70
80

In [66]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [68]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [69]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [70]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [71]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [72]:
List1 = [100, 50, 65, 82, 23]
List1.sort()
print(List1)

[23, 50, 65, 82, 100]

In [73]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [74]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

In [75]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [76]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [77]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [80]:
# Arrays

cars = ["Ford", "Volvo", "BMW"]
x = cars[0]
print(x)

Ford

In [81]:
cars[0] = "Toyota"
print(cars)

['Toyota', 'Volvo', 'BMW']

In [82]:
cars = ["Ford", "Volvo", "BMW"]
x = len(cars)
print(x)

3

In [83]:
cars = ["Ford", "Volvo", "BMW"]

for x in cars:
  print(x)

Ford
Volvo
BMW

In [84]:
cars = ["Ford", "Volvo", "BMW"]
cars.append("Honda")
print(cars)

['Ford', 'Volvo', 'BMW', 'Honda']

In [87]:
cars.pop(1)
print(cars)

['Ford', 'Honda']