In [1]:
pip install numpy

Requirement already satisfied: numpy in c:\users\mgm\anaconda3\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np
arr=[23,45,2,56,89,67]
minimum=np.min(arr)
minimum

2

In [5]:
maximum=np.max(arr)
maximum

89

In [7]:
pip install pandas

Requirement already satisfied: pandas in c:\users\mgm\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\mgm\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mgm\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mgm\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mgm\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\mgm\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pandas as pd
data=pd.read_csv("Stud.csv")
data.shape

(10, 3)

In [15]:
data.head(7)

   rollno     Name  Marks
0       1     Nitu     56
1       2     Ajay     67
2       3    Ravi      80
3       4   Mamata     76
4       5   Pankaj     45
5       6  Thakur      34
6       7  Shakshi     78